<div class="headerWrapper">
  <button class="burger" [class.open]="isMenuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="mobileNav" [class.open]="isMenuOpen">
    <nav>
      <a [routerLink]="['/']" fragment="aboutMe" (click)="closeMenu()">About me</a>
      <a [routerLink]="['/']" fragment="skills" (click)="closeMenu()">Skills</a>
      <a [routerLink]="['/']" fragment="portfolio" (click)="closeMenu()">Portfolio</a>
      <a [routerLink]="['/']" fragment="contact" (click)="closeMenu()">Contact</a>
      <div class="languageToggle">
        <span (click)="switchLang('en')" [class.active]="language() === 'en'">EN</span>
        |
        <span (click)="switchLang('de')" [class.active]="language() === 'de'">DE</span>
      </div>
    </nav>
  </div>

  <div class="headerInner">
    <a href="/felix/" aria-label="Zurück zur Startseite">
  <img src="assets/img/Felix_Logo.png" class="felixLogo" alt="Felix Logo">
</a>
    <nav>
      <a href="#" (click)="scrollTo('aboutMe')">About Me</a>
      <a href="#" (click)="scrollTo('skills')">Skills</a>
      <a href="#" (click)="scrollTo('portfolio')">Portfolio</a>
      <div class="languageToggle">
        <span (click)="switchLang('en')" [class.active]="language() === 'en'">EN</span>
        |
        <span (click)="switchLang('de')" [class.active]="language() === 'de'">DE</span>
      </div>
    </nav>
  </div>
</div>
