<header>
    <button class="burger" [class.open]="isMenuOpen" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      
      <div class="mobile-nav" [class.open]="isMenuOpen">
        <nav>
          <a href="#aboutme" (click)="closeMenu()">About me</a>
          <a href="#skills" (click)="closeMenu()">Skills</a>
          <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
          <a href="#contact" (click)="closeMenu()">Contact</a>
          <div class="language-toggle">
            <span 
              (click)="switchLang('en')" 
              [class.active]="language() === 'en'">EN</span>
            |
            <span 
              (click)="switchLang('de')" 
              [class.active]="language() === 'de'">DE</span>
          </div>
        </nav>
      </div>
      
    <img src="assets/img/Felix_Logo.png" class="felixLogo">
    <nav>
      <a (click)="scrollTo('aboutMe')">About me</a>
      <a (click)="scrollTo('skills')">Skills</a>
      <a (click)="scrollTo('portfolio')">Portfolio</a>
        <div class="language-toggle">
          <span 
            (click)="switchLang('en')" 
            [class.active]="language() === 'en'">EN</span>
          |
          <span 
            (click)="switchLang('de')" 
            [class.active]="language() === 'de'">DE</span>
        </div>
    </nav>
</header>
