.sectionLineWrapper {
  position: relative;
  width: 100%;

  .line {
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: currentColor;
    width: 100%;
    transform: scaleX(0);
    opacity: 0;
    animation: lineGrow 1.2s ease-out forwards;
  }

  &.left .line {
    left: 0;
    right: auto;
    transform-origin: left;
  }

  &.right .line {
    left: auto;
    right: 0;
    transform-origin: right;
  }
}


@keyframes lineGrow {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
