<section>
  <div class="main">
    <div class="heroBox">
      <div class="heroBgLeft"></div>
      <div class="heroBgRight"></div>
      <div class="heroGrid">
        <div class="heroVertical" [ngClass]="text().hero.iam.class">
          <span>{{ text().hero.iam.text }}</span>
        </div>
        <div class="heroContent">
          <h1>{{ text().hero.name }}</h1>
          <p class="roles">
            <span *ngFor="let role of text().hero.roles" class="roleItem">{{ role }}</span>
          </p>
        </div>
      </div>
      <div class="heroButton">
        <button class="greenButton" (click)="scrollToContact()">{{ text().hero.cta }}</button>
      </div>
      
   <div class="heroBottom">
    <div class="divider">
      <app-section-line position="left" color="#70E61C"></app-section-line>
      <div class="dividerContent">
        <a href="https://github.com/KoenigderAusrede" target="_blank" rel="noopener noreferrer">
          <img class="dividerButton" src="assets/buttons/Github button.png" alt="GitHub" />
        </a>
        <a href="">
          <img class="dividerButton" src="assets/buttons/Email button.png" (click)="scrollToContact()" alt="Mail" />
        </a>
        <a href="https://www.linkedin.com/in/felix-blaser-499804154/" target="_blank" rel="noopener noreferrer">
          <img class="dividerButton" src="assets/buttons/Linkedin button.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
              <div class="scroller">
      <span class="scrollText">{{ text().hero.scroller}}</span>
      <img src="assets/icons/arrowdown.png" alt="Scroll down" />
    </div>
    </div>
    </div>
  </div>

  <div class="main2" id="aboutMe">
    <div class="main2Left">
      <div class="textBlock">
        <h1>{{ text().about.title }}</h1>
        <p [innerHTML]="text().about.intro">

        <div class="aboutBlock">
          <img src="assets/icons/bulb/bulb_white_S.png" alt="" />
          <p [innerHTML]="text().about.experience">
        </div>

        <div class="aboutBlock">
          <img src="assets/icons/puzzle/puzzle_white_S.png" alt="" />
          <p [innerHTML]="text().about.change">
        </div>
      </div>
    </div>

    <div class="main2Right">
      <div class="aboutPp">
        <img class="profileBlur" src="assets/blurrs/green_purple_shadow.png" alt="" />
        <img class="profilePicture" [ngSrc]="'assets/img/profilePic.png'" width="300" height="400" alt="Profilbild"
          priority />
        <img class="curveMobile" src="assets/img/curve.png" alt="Curve Mobil" />
      </div>
    </div>
  </div>

  <img class="curveDesktop" src="assets/img/curve.png" alt="Curve Desktop" />
</section>