<div class="main">
    <img class="backgroundBlurr" src="/assets/blurrs/Blue shadow 1 V2.png" alt="">
    <div class="container">
        <div class="rotate270">
            <h1>I am</h1>
        </div>
        <div class="horizontal">    
            <p class="hOne">Felix Blaser</p>
            <p class="hFour">Project Manager | Frontend Developer | Digital Strategist</p>
        </div>     
    </div>
    <button class="greenButton letsTalk" (click)="scrollToContact()">Let's talk!</button>  
    <div class="divider">
        <img class="dividerButton" src="/assets/lines/Green100px.png" alt="">
        <a href="https://github.com/KoenigderAusrede" target="_blank" rel="noopener noreferrer">
            <img class="dividerButton" src="/assets/buttons/Github button.png" alt="GitHub">
          </a>
        <img class="dividerButton" src="/assets/buttons/Email button.png" (click)="scrollToContact()" alt="Mail">
        <a href="https://www.linkedin.com/in/felix-blaser-499804154/" target="_blank" rel="noopener noreferrer">
            <img class="dividerButton" src="/assets/buttons/Linkedin button.png" alt="LinkedIn">
          </a>
    </div>
    <div class="scroller">
        <div class="rotate90-container">
            <div class="rotate90">
                <div>scroll down</div>
            </div>
        </div>
        <img src="/assets/icons/arrowdown.png" alt="">
    </div> 
</div>
<div class="main2">
        <div class="textBlock">
            <h1>About me</h1>
                <p>Hi, my name is Felix and im a project manager, front-end Webdevelopper and digital strategist based in the most beautiful city in the world, Munich, Germany.
                    <br>I startet my career as an Event Manager, handling Projects for the Automotive and Pharmacuetical Industry.<br>
                </p>
                <div class="aboutBlock">
                    <img src="/assets/icons/bulb/bulb_white_S.png" alt="">
                <p>I have gained experiance in event and tradeshows for automotive, pharma and various other branches. </p>
                </div>
                <div class="aboutBlock">
                    <img src="/assets/icons/puzzle/puzzle_white_S.png" alt="">
                <p>After many years of successful projects I've decided to make a change and widen my portfolio and therfore you can see this website.
                     I'm combining project mangement with technical and webdeveleopment skills to match the needs of today's employers.</p>
                </div>
        </div>
        <div class="aboutPp">
            <img class="profileBlur" src="/assets/blurrs/green_purple_shadow.png" alt="" srcset="">
            <img class="profilePicture" [ngSrc]="'assets/img/file.png'" width="300" height="400" alt="Profilbild" priority />
        </div>
        <img src="/assets/img/curve.png" class="curve">
</div>
