<main class="legalContainer">
    <h1>Impressum</h1>
  
    <section>
      <h2>Vertreten durch</h2>
      <p>Felix Blaser</p>
    </section>
  
    <section>
      <h2>Kontakt</h2>
      <p>
        Telefon: +49 (0) 170 234 92 80<br>
        E-Mail: felix&#64;dieblasers.de
      </p>
    </section>
  
    <section>
      <h2>Aufsichtsbehörde</h2>
      <p>Industrie- und Handelskammer München</p>
    </section>
  
    <section>
      <h2>Haftung für Inhalte</h2>
      <p>
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
      </p>
    </section>
  </main>
  
