<div class="portfolio-item">
  <img class="portfolio-image" [ngSrc]="project.image"  width="400" height="250" alt="{{ project.title }}" />

  <div class="portfolio-buttons">
    <a *ngIf="project.github !== '#'" [href]="project.github" target="_blank" class="portfolio-button github">Github</a>
    <a *ngIf="project.url" [href]="project.url" target="_blank" class="portfolio-button live-test">Live test</a>
  </div>

  <div class="portfolio-info">
    <h3>{{ project.title }}</h3>
    <p class="project-description">
      {{ text().portfolioDescriptions[project.id] }}
    </p>
    <div class="project-tags" *ngIf="project.tags?.length">
      <span *ngFor="let tag of project.tags" class="tag">{{ tag }}</span>
    </div>  
  </div>
</div>
