.portfolioItem {
  position: relative;
  overflow: hidden;
  border: 1px solid #1de6b5;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    .portfolioImage {
      transform: scale(2.3);
      filter: blur(2px);
    }

    .portfolioInfo,
    .portfolioButtons {
      font-size: 0.8rem;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .portfolioImage {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .portfolioButtons {
    position: absolute;
    top: 3rem;
    left: 34%;
    transform: translateX(-40%);
    display: flex;
    gap: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .portfolioButton {
    padding: 8px 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &.github {
      background-color: transparent;
      border: 1px solid gray;
      color: gray;

      &:hover {
        background-color: #1de6b5;
        color: white !important;
        border: 1px solid white;
      }
    }

    &.liveTest {
      background-color: #8f00ff;
      color: white;
      
      &:hover {
        background-color: #71e61c;
        color: white !important;
      }
    }
  }

  .portfolioInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 25px 25px 0 0;
    padding: 0.5rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  h3 {
    font-size: 1.2rem;
    color: #8f00ff;
  }

  p {
    font-size: 1rem;
    color: black;
  }

  .projectTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    justify-content: center;
  }
  
  .tag {
    background-color: rgba(29, 230, 181, 0.1);
    color: #1de6b5;
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #1de6b5;
    font-weight: bold;
    text-transform: uppercase;
  }

  .projectDescription {
    font-size: 0.9rem;
    color: #333;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .portfolioButtons {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .portfolioButton {
    padding: 6px 12px;
    font-size: 0.85rem;
  }

    .projectDescription {
    font-size: 1rem;
    color: #333;
    padding: unset !important;
  }

  .portfolioInfo {
    padding: 0 0.3rem 0 0.3rem;
  }

  .projectTags {
    gap: 4px;
    margin-top: 0.5rem;
  }

  .tag {
    font-size: 0.75rem;
    padding: 4px 8px;
  }
}

@media (max-width: 500px) {
  .portfolioItem .portfolioButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    top: 0.5rem;
    left: 20%;
    transform: translateY(20rem)
  }

  .portfolioButton {
    padding: 4px 10px;
    font-size: 0.75rem;
    border-radius: 20px;
  }

  .portfolioInfo {
    padding: 0.75rem 0.5rem;
    
    h3 {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.55rem !important;
    }
  }

  .projectTags {
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tag {
    display: none;
  }
}