<section id="portfolio">
  <div class="main">
    <div class="portfolioHeading">
      <div class="secLine">
      <app-section-line position="left" color="#9747FF"></app-section-line>
      </div>
            <h1>{{ text().portfolio.heading }}</h1>
    </div>
    <div class="subLine">
      <p [innerHTML]="text().portfolio.subheading"></p>
    </div>
    <div class="container">
      <div class="grid">
        <app-portfolio-item *ngFor="let project of projects" [project]="project"></app-portfolio-item>
      </div>
    </div>
  </div>
</section>