.main {
    background-color: #141D2F;
    height: fit-content;
}

.headline {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 3rem;
    >img {
        height: 2px;
    }
}

.subLine {
    margin-left: 4rem;
    color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }