<div class="testimonial-wrapper">
    <div class="quote-box">
      <div class="quote-symbol">„</div>
      <p class="quote-text">{{ currentTestimonial.text }}</p>
      <div class="quote-footer">
        <div class="line"></div>
        <span class="author">{{ currentTestimonial.author }}</span>
      </div>
    </div>
  
    <div class="image-box">
      <img [src]="currentTestimonial.image" alt="Testimonial Image" />
    </div>
  </div>
  
  <div class="navigation">
    <button class="arrow left" (click)="prevTestimonial()">
        <img src="assets/arrows/arrow_green_left.png" alt="Zurück" />
    </button>
    <div class="dots">
      <span 
        *ngFor="let testimonial of testimonials; let i = index"
        [class.active]="i === currentIndex"
        (click)="setTestimonial(i)">
      </span>
    </div>
    <button class="arrow right" (click)="nextTestimonial()">
        <img src="assets/arrows/arrow_green_right.png" alt="Weiter" />
    </button>
  </div>
  