<div class="testimonialWrapper">
    <div class="quoteBox">
      <div class="quoteSymbol">„</div>
      <p class="quoteText">{{ currentTestimonial.text }}</p>
      <div class="quoteFooter">
        <div class="line"></div>
        <span class="author">{{ currentTestimonial.author }}</span>
      </div>
    </div>
  
    <div class="imageBox">
      <img [src]="currentTestimonial.image" alt="Testimonial Image" />
    </div>
  </div>
  
  <div class="navigation">
    <button class="arrow left" (click)="prevTestimonial()">
        <img src="assets/arrows/arrow_green_left.png" alt="Zurück" />
    </button>
    <div class="dots">
      <span 
        *ngFor="let testimonial of testimonials; let i = index"
        [class.active]="i === currentIndex"
        (click)="setTestimonial(i)">
      </span>
    </div>
    <button class="arrow right" (click)="nextTestimonial()">
        <img src="assets/arrows/arrow_green_right.png" alt="Weiter" />
    </button>
  </div>