/* global layout */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 7.5rem !important;
  background-color: #141D2F;
  overflow-x: clip // global overflow-x fix due to section lines on large screens 
}

header, footer {
  width: 100vw;
  background-color: #141D2F;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
  @media (max-width: 500px) {
    padding: 0;
  }
}

.contact-root :where(.privacy-link) {
  color: #b95eff;
  text-decoration: underline;
}