<section id="skills">
  <div class="skillsSection">
    <div class="textContainer">
      <div class="textHead secLine secLineRight --bleedRight" style="--line-color:#00CFFF" appInView>
        <h1>{{ text().skills.heading }}</h1>
        <div class="secLineLine" aria-hidden="true"></div>
      </div>
    </div>

    <div class="symbols">
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/JavaScript.png" />
        <p>JavaScript</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Angular.png" />
        <p>Angular</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Typescript.png" />
        <p>TypeScript</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/HTML.png" />
        <p>HTML</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Git.png" />
        <p>GIT</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Firebase.png" />
        <p>Firebase</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/CSS.png" />
        <p>CSS</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Scrum.png" />
        <p>Scrum</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/API.png" />
        <p>API</p>
      </div>
      <div class="skillBox">
        <img class="hoverEffect" src="assets/icons/Test Automation.png" />
        <p>Automation</p>
      </div>
      <div class="skillBox learning" [ngClass]="{'showTooltip': showTooltip}">
        <div class="learningIcon" (click)="handleLearningTap()"></div>
        <div class="tooltip">
          <p>{{ text().skills.tooltipIntro }}</p>
          <div class="iconRow">
            <div class="tech">
              <img src="assets/icons/react.svg" alt="React" />
              <span>React</span>
            </div>
            <div class="tech">
              <img src="assets/icons/python.png" alt="Python" />
              <span>Python</span>
            </div>
          </div>
        </div>
        <p>{{ text().skills.learning }}</p>
      </div>
    </div>

    <div class="textContainer">
      <div class="textBody">
        <p [innerHTML]="text().skills.description"></p>
        <div class="skillExtension">
          <h2>
            {{ text().skills.extraHeadingStart }}<span style="color: #9846ff">{{ text().skills.extraHeadingHighlight
              }}</span>?
          </h2>
          <p class="textBody">{{ text().skills.extraParagraph }}</p>
        </div>
        <button class="greenButton" (click)="scrollToContact()">{{ text().skills.cta }}</button>
      </div>
    </div>
  </div>
</section>